p{
    border: 2px solid blue;
    font-size: 24px;
    display: inline ;
}




.container{
    border:2px solid wheat;
    width: 500px;
    height: 500px;
    display: flex;
    /* justify-content: flex-start; */
    justify-content: center;
}


.div-child{
    background: black;
    width: 100px;
    height: 100px;
    border: 1px solid blue;
}


#div2{
    height:200px
}






/* display:flex - flex items -ებს გახდის მოქნილს.(ყოველთვის გაუწერეთ მშობელ ელემენტს )
justify-content-აკონტროლებს შვილი ელემენტების განლაგებას ჰორიზონტალურად (from left to right)


justify-content:
flex-start-ოატავსებს ელემენტებს კონტეინერის დასაწყისში, მარცხენა მხარეს.
flex-end - მოათავსებს ელემენტებს კონტეინერის ბოლოში,მარჯვენა მხარეს.
center- შვილი ელემენტები გადაინაცვლებენ ჰორიზონტალურად ცენტრში.
space-between-ელემენტებს შორის აჩენს დაშორებას,თუმცა არაა დაშორება კედლებთან.
space-around - დაშორება არის, როგორც ელემენტებს შორის, ასევე კედლებთანაც (არათანაბარი)
space-evenly - გვაქვს თანაბარი დაშორება, როგორც ელემენტებს შორის, ასევე კედლებთანაც


align-items:
flex-start -მოათავსებს ელემენტებს კონტეინერის ზეფა ნაწილში.
flex-end - მოათავსებს ელემენტებს კონტეინერის ქვედა ნაწილში.
center - შვილი ელემენტები  გადაინაცვლებს ვერტიკალურად ცენტრში.
baseline - ყველა div-child-ი, ზომის განუსაზღვრელად ერთ საბაზისო ხაზზე განლაგდებიან.
streerch- თუ შვილს არ აქვს კონკრეტული height გაწერილი,შვილი შეავსებს მშობლის მთლიან
*/