#container1{
    color:aquamarine
}
#bubu{
    color: aqua;
    text-align: center;
}
#miki{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#potho{
    width: 80px;
    height: 20px;
    border:5px;

}
