.canvas{
    width: 400px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-box{
    width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-circle{
    width: 220px;
    height: 220px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-dot{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
}

