
.image-section{
    background-image: url('https://cdn.discordapp.com/attachments/1466449080992403567/1518665445362761948/image.png?ex=6a3abee9&is=6a396d69&hm=5ad6841301c6f6b366d655df674e979fa9936054f1b9aab67f693289f690650b&');
    background-size: cover;
    background-position: center;
    background-color: #aa5cdb;
}
