/* რესპონსივი (Responsive Web Design) ნიშნავს ვებ-გვერდის იმგვარ მოწყობას, 
რომ ის იდეალურად ერგებოდეს და ლამაზად ჩანდეს ნებისმიერი ზომის ეკრანზე — 
იქნება ეს დიდი მონიტორი, ლეპტოპი, პლანშეტი თუ მობილური ტელეფონი.
*/

/* @media (Media Query) არის წესი CSS-ში, რომელიც საშუალებას გვძლევს 
სტილები გამოვიყენოთ მხოლოდ კონკრეტული პირობების დაკმაყოფილების შემთხვევაში. 
მაგალითად, შეგვიძლია ვთქვათ: "თუ ეკრანის ზომა ნაკლებია 600 პიქსელზე, 
ტექსტის ფერი გახდეს წითელი".
*/

/* min-width (მინიმალური სიგანე): სტილები აისახება მითითებული ზომიდან ზემოთ.
უფრო დიდ ეკრანებზე გამოიყენება.

max-width (მაქსიმალური სიგანე): სტილები აისახება მითითებულ ზომამდე (ქვემოთ).
(ძირითადად მობილურებისთვის).
*/



.container {
    display: flex;
    flex-direction: row; 
    gap: 15px; 
}

.box {
    flex: 1; 
    padding: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.box1 { background-color: #3498db; }
.box2 { background-color: #e74c3c; }


@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}
